.basket-page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.basket-text-container{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.basket-text{
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Newsreader;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 4.8rem */
letter-spacing: -0.08rem;
margin: 2rem;
}

.basket-items-count{
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 1.625rem */
margin-top: 4.5rem;
/* margin: 2rem; */
}

.basket-cart-books{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* margin: 2rem; */
}

.basket-items-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2rem;
  width: 80%;
}

.basket-cart-book{
  width: 51.3125rem;
height: 15.125rem;
flex-shrink: 0;
border-radius: 1.5rem;
border: 2px solid #E6E6E6;
background: #FAFAF5;
display: flex;
flex-direction: row;
margin: 1rem;
}

.basket-order-summery-container{
  /* width: 24.6875rem; */
height: 19.875rem;
flex-shrink: 0;
border-radius: 1.5rem;
border: 2px solid #E6E6E6;
background: #FAFAF5;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
width: 30%;
margin: 2rem;
}

.basket-order-summary-title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
  text-align: left;
  margin: 2rem;
  margin-bottom: 0;

}
.basket-order-summary-item {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  margin: 2rem;
}

.basket-order-summary-bottom{
  display: flex;
padding: 0.5rem 1rem 0.5rem 1.5rem;
justify-content: flex-end;
align-items: center;
gap: 7rem;
border-radius: 0.5rem;
background: #426B1F;
width: 80%;
justify-content: center;
align-items: center;

}

.basket-order-summary-bottom:hover{
cursor: pointer;
background: #253b11;
}

.basket-order-summary-bottom-text{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 1.3rem */
}

.basket-order-summary-total{
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 1.3rem */
margin: 2rem;
margin-top: 0;
}

.basket-order-summary-bottom-arrow{
  position: relative;
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
}
.basket-order-summary-bottom-arrow::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 8px;
  height: 5px;
  border-bottom-left-radius: 100%;
  border-left: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.basket-order-summary-bottom-arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  width: 8px;
  height: 5px;
  border-top-left-radius: 100%;
  border-top: 3px solid rgb(255, 255, 255);
  border-left: 3px solid rgb(255, 255, 255);
}


.basket-cart-item-image{
  height: 100%;
  width: 100%;
  border-radius:12%;
}

.basket-cart-item-details-container{
margin: 1.5rem;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.basket-item-title{
  /* width: 32.6875rem;
height: 3.25rem; */
flex-shrink: 0;
color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Imprima;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 1.625rem */
letter-spacing: 0.0375rem;
}

.basket-item-price{
  color: #426B1F;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 130%;
}

.basket-item-price-black{
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 130%;
}


.title-price{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.count-section{
  display: inline-flex;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  border-radius: 1.25rem;
  border: 2px solid rgba(0, 0, 0, 0.21);
  background: #FFF;
  width: 20%;  
}

.basket-cart-item-image-container{
  width: 25%;
}

.efesdfsdf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minus-logo{
  display: flex;
  width: 30%;
  height: 30%;
  right: 2rem;
}
.minus-logo:hover{
  cursor: pointer;
}

.flex-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}