/* body{
    display: flex;
    flex-direction: column;
}

.banner {
    border: 2px solid #E6E6E6;
    background: rgba(255, 255, 255, 0.504);
    text-align: center;
    border-radius: 40px;
    width: 72.5rem;
    height: 35.3125rem;
    flex-shrink: 0;
    overflow: hidden;
    border-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  
.main_title{
    padding-top: 3%;
    margin-bottom: 0px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Newsreader;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.08rem;
    
}

.line {
    padding-top: 3%;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px; 
    width: 120rem;
}

.wishlist{
    width: 38.625rem;
    height: 59.125rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
    margin-right: 80rem;
    margin-top: 20rem;
    
}
.wishlist_style {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%; 
  }

.wishlist_style a {
    text-decoration: none; 
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IM FELL Great Primer SC;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; 
    letter-spacing: 0.51rem;
    color: inherit; 
}
  
.wishlist_style a:hover {
    color: #000; 
}
  
.wishlist_style a:visited {
    color: #000;
}

.user-card {
    width: 38.625rem;
    height: 14.6875rem;
    flex-shrink: 0;
    border-radius: 3.6875rem;
    background: rgba(255, 255, 255, 0.50);
}
   */
#root{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
   
.profile-container{
    display: flex;
    flex-direction: column;
}

.profile-text-container{
    width: 78rem;
height: 9.3125rem;
flex-shrink: 0;
}
.profile-text{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Newsreader;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 4.8rem */
letter-spacing: -0.08rem;
}

.profile-cart-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -2rem;
}

.profile-cart-container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-text-container-text{
    direction: ltr;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-user-wishlist{
    width: 100%;
    border-radius: 2.5rem;
    /* background: rgba(255, 255, 255, 0.25); */
    margin: 1rem;
}

.profile-user-books{
    width: 100%;
    border-radius: 2.5rem;
    /* background: rgba(255, 255, 255, 0.25); */
    margin: 1rem;
}

.profile-user{
    width: 100%;
    height: 14.6875rem;
    flex-shrink: 0;
    border-radius: 3.6875rem;
    background: rgba(255, 255, 255, 0.50);
    display: flex;
    flex-direction: row;
}

.profile-wish{
    width: 100%;
    height: 38.0625rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.18);
    margin-top: 1rem;
}
.profile-books{
    width: 100%;
    height: 59.125rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
}
.user-profile{
    width: 10.5rem;
    height: 10.5rem;
    flex-shrink: 0;
    fill: lightgray 50% / cover no-repeat;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.50) inset;
}
.user-name{
    display: flex;
width: 16.875rem;
height: 3.1875rem;
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Newsreader;
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 2.7rem */
letter-spacing: -0.045rem;
margin: 2rem;
}

.user-credit{
    color: #00A92F;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Newsreader;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 2.4rem */
letter-spacing: -0.04rem;
margin: 2rem;
}