.App {
  text-align: center;
}
body {
  background: rgb(36,205,195);
  background: linear-gradient(330deg, rgba(36,205,195,1) 0%, rgba(202, 117, 96, 0.902) 70%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "IM FELL Great Primer SC";
  src: local("IM FELL Great Primer SC"),
    url("./font/IMFellGreatPrimerSC-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Imprima";
  src: local("Imprima"),
    url("./font/Imprima-Regular.ttf") format("woff");
}
@font-face {
  font-family: "IM FELL English";
  src: local("IM FELL English"),
    url("./font/IMFellEnglish-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Inknut Antiqua";
  src: local("Inknut Antiqua"),
    url("./font/InknutAntiqua-Regular.ttf") format("woff");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-image{
  width: 12rem;
  border-radius: 20px;
  margin: 0.5rem;
}

.bestsellers-product-wrap{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  overflow-x: scroll;
  margin: 2rem;
  padding: 2rem;
}

.new-releases-product-wrap{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  overflow-x: scroll;
  margin: 2rem;
  padding: 2rem;
}

.activity-list{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  overflow-x: scroll;
  margin: 2rem;
  padding: 2rem;
}

.root-container{
  width: 100%;
  /* margin-top: 65%; */
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}